* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --background: rgb(5, 5, 65);
  --text: rgb(242, 242, 242);
}

body {
  background: var(--background);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

.nav a {
  text-decoration: none;
  color: var(--text) !important;
  transition: 0.3s all;
}

.navbar-nav {
  width: 100%;
  justify-content: center;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
  font-size: 0.9rem;
  margin-top: 1.2rem;
  margin-bottom: 10px;
  transition: filter 0.3s;
}

.nav-link-img {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
  font-size: 0.9rem;
  margin-top: 2.3rem;
  margin-bottom: 10px;
  transition: filter 0.3s;
}

.nav-link:hover {
  filter: brightness(0.7);
}

.nav-h1 {
  color: var(--text);
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
}

.nav-h1 img {
  width: 5rem;
}

#home-page {
  margin-top: 12rem;
}

#home-page h1 {
  color: var(--text);
  font-weight: 500;
  font-size: 3.5rem;
}

#home-page p {
  color: var(--text);
  filter: brightness(0.8);
  font-weight: 300;
  font-size: 1.5rem;
}

#home-page .home-btn {
  background: rgb(242, 242, 242, 0.9);
  padding: .5rem 2.5rem;
  height: 2.5rem;
  color: black;
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  transition: filter 0.5s;
  text-decoration: none;
}

#home-page .home-btn:hover {
  filter: brightness(0.7);
}

#home-page .home-img img {
  width: 95%;
  margin-top: -5rem;
  margin-right: 5rem;
}

@media (max-width: 768px) {
  #home-page {
    margin-left: 2rem;
  }
  #home-page .home-img img {
    margin-top: 2rem;
    width: 35rem;
  }
}

#about-me {
  margin-top: 20rem;
}

#about-me .about-img img {
  width: 30rem;
}

#about-me h1 {
  font-size: 2rem;
  color: var(--text);
  font-weight: 600;
  margin-top: 1rem;
}

#about-me p {
  font-size: 1.2rem;
  color: rgb(242, 242, 242, 0.8);
  font-weight: 300;
  width: 30rem;
}

#services {
  margin-top: 20rem;
}

#services .text-center h1 {
  color: var(--text);
  font-weight: 600;
  font-size: 2.5rem;
}

#services .text-center p {
  color: rgb(242, 242, 242, 0.8);
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.service .text {
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 4em;
  text-align: center;
  padding-top: 30px;
  background: rgb(11, 11, 153, 0.1);
}

.service:hover{
    transform: translateY(-15px) !important;
}

.service-icon {
  width: 4rem;
  height: 4rem;
  background: linear-gradient(135deg, var(--background) 0%, rgb(11, 11, 153) 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.7rem;
  margin: 0 auto;
  z-index: 12;
  margin-bottom: 1.5rem;
  transform: translateY(50px);
}

.service i {
  margin: 0 auto;
  position: relative;
  left: 1px;
}

.service h3 {
  font-size: 1rem;
  width: 50%;
  margin: 0 auto;
  font-weight: 500;
  padding: 5px 0;
  text-align: center;
  color: #b8b8b8;
  margin-top: .5rem;
}

.service p {
  color: #989898;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.8;
  margin-top: .5rem;
}

#works{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#works .first-text h1{
    color: var(--text);
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
}

#works .work{
    border-radius: 20px;
    margin-bottom: 4em;
    text-align: center;
    background: rgb(11, 11, 153, 0.1);
    width: 100%;
    max-width: 25rem;
}

#works .image-portfolio img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    max-width: 25rem;
}

#works .work .text{
    padding: 20px;
}

#works .work .text h1{
    color: var(--text);
    font-weight: 400;
    font-size: 1.8rem;
}

#works .work .text p{
    color: rgb(242, 242, 242, 0.8);
    font-size: 1rem;
    font-weight: 300;
}

@media(max-width: 768px){
    #works{
        margin-left: 8rem;
    }
    #works .first-text{
        display: none;
    }
}

footer{
   padding: 2rem 0rem;
   box-shadow: 0px 3px 40px rgba(83, 124, 183, 0.1);
}

footer .copyright span{
    color: var(--text);
    font-weight: 400;
    font-size: 1.2rem;
}

footer .developed span{
    color: var(--text);
    filter: brightness(0.8);
    font-weight: 400;
    font-size: 1.2rem;
}

footer .developed span a {
    color:  #824bff;
    text-decoration: none;
}

footer .developed span i{
    color: #824bff;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    }
    ::-webkit-scrollbar:hover {
    width: 6px;
    height: 3px;
    }
    ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    }
    ::-webkit-scrollbar-thumb {
    background: rgb(11, 11, 153);
    border: 0px none #ffffff;
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
    }
    ::-webkit-scrollbar-thumb:active {
    background: rgb(11, 11, 153);
    }
    ::-webkit-scrollbar-track {
    background: #4b5a68;
    border: 1px none #ffffff;
    }
    ::-webkit-scrollbar-track:hover {
    background: #4b5a68;
    }
    ::-webkit-scrollbar-track:active {
    background: #4b5a68;
    }